body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
  }

.container-a {
    width: 50%;
    height: 40%;
    margin: 0 auto;
    padding-top: 1%;
}


.image {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
  }
  
.image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}